@charset "UTF-8";
/* css/style.css */
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  height: auto;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #111111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-center {
  height: 80px;
  min-width: 600px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #272727;
  padding: 5px;
  top: -10px;
  -webkit-box-shadow: 0px 0px 20px #000;
          box-shadow: 0px 0px 20px #000;
  z-index: 99999;
  top: -10%;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.nav-center:hover {
  top: 0px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav-center:after {
  content: "👇🏻";
  text-align: center;
  position: absolute;
  padding-top: 10px;
  font-size: 20px;
  top: 100%;
  margin: auto;
  width: 100px;
  height: 40px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #272727;
  -webkit-box-shadow: 0px 20px 20px #000;
          box-shadow: 0px 20px 20px #000;
}

.nav-center ul {
  height: 100%;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 5px;
}

.nav-center ul li {
  list-style: none;
  height: 60px;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  position: relative;
}

.nav-center ul li .logo {
  height: 50px;
  width: auto;
}

.nav-center ul li .nav-snack {
  position: absolute;
  color: white;
  font-size: 1em;
  font-family: "DotGothic16", sans-serif;
  padding: 2px 5px 2px 5px;
  text-align: center;
  border-radius: 2px;
  top: 0px;
  opacity: 0;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  z-index: 9999999999999;
}

.nav-center ul li:hover {
  background: #414141;
  border-radius: 100px;
}

.nav-center ul li:hover .nav-snack {
  top: 50px;
  opacity: 1;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.container {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111111;
}

.container .logo {
  height: 70px;
  position: fixed;
  top: 40px;
  left: 40px;
}

.container .section-one {
  color: white;
  font-family: Hack;
  font-size: 1.5rem;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .section-one .left {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: -30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  position: absolute;
}

.container .section-one .left h1 {
  font-family: "Bungee Shade", cursive;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
}

.container .section-one .left h1 .title {
  font-size: 5rem;
}

.container .section-one .left h1 .title #devTitle2 {
  -webkit-animation: devTitle 1s ease-in-out infinite;
          animation: devTitle 1s ease-in-out infinite;
}

.container .section-one .left h1 .title #devTitle3 {
  display: block;
}

.container .section-one .left h1 .title #devTitle4 {
  font-size: 2rem;
  top: -40px;
  position: relative;
  font-family: "Space Mono", monospace;
}

@-webkit-keyframes devTitle {
  0% {
    color: #f58e08;
  }
  50% {
    color: #088af5;
  }
  100% {
    color: #08f51c;
  }
}

@keyframes devTitle {
  0% {
    color: #f58e08;
  }
  50% {
    color: #088af5;
  }
  100% {
    color: #08f51c;
  }
}

.container .section-one p {
  width: 70%;
  font-size: 4rem;
  font-family: "Flow Rounded", cursive;
  position: relative;
  z-index: 1;
  opacity: 0.06;
  text-align: center;
  pointer-events: none;
  top: -40px;
}

.container .section-one a {
  z-index: 4;
  position: absolute;
  bottom: 240px;
}

.container .section-one a .cta-homesection {
  height: 60px;
  width: 250px;
  cursor: pointer;
  font-size: 1rem;
  font-family: Fira Code;
  font-weight: bold;
  border-radius: 13px;
}

.container .section-one a .cta-homesection:active {
  -webkit-box-shadow: 5px 5px 0px #e604a2;
          box-shadow: 5px 5px 0px #e604a2;
}

.container .line {
  height: 10px;
  width: 80%;
  border-top: 5px solid #fff;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-style: dashed;
}

.container .section-two {
  color: white;
  height: 100vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .section-two .cta-2 {
  z-index: 4;
  position: absolute;
  bottom: 200px;
}

.container .section-two .cta-2 .cta-homesection {
  height: 60px;
  min-width: 250px;
  -webkit-box-shadow: 0px 5px 0px #fff;
          box-shadow: 0px 5px 0px #fff;
  cursor: pointer;
  font-size: 1rem;
  font-family: Fira Code;
  font-weight: bold;
  border-radius: 13px;
}

.container .section-two .cta-2 .cta-homesection:active {
  -webkit-box-shadow: 5px 5px 0px #e604a2;
          box-shadow: 5px 5px 0px #e604a2;
}

.container .section-two h1 {
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  position: relative;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.container .section-two h1 img {
  display: none;
  opacity: 0;
  -webkit-transition: all 30ms ease-in-out;
  transition: all 30ms ease-in-out;
}

.container .section-two h1:hover img {
  content: "";
  display: block;
  position: absolute;
  top: -240px;
  height: 230px;
  opacity: 1;
  width: auto;
  -webkit-transition: all 30ms ease-in-out;
  transition: all 30ms ease-in-out;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.container .section-two p {
  font-family: Fira Code;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 1.75rem;
  text-align: justify;
  line-height: 1.5;
  width: 80%;
}

.container .section-two p a {
  color: #f0f;
}

.container .section-two p span:nth-child(1) {
  color: #0f0f;
}

.container .section-two p span:nth-child(2) {
  color: #00b7ff;
}

.container .section-two p span:nth-child(3) {
  color: #d9ff00;
}

.container .section-two p span:nth-child(3) img {
  display: none;
  opacity: 0;
  -webkit-transition: all 30ms ease-in-out;
  transition: all 30ms ease-in-out;
}

.container .section-two p span:nth-child(3):hover {
  color: #00b7ff;
  cursor: pointer;
}

.container .section-two p span:nth-child(3):hover img {
  display: block;
  position: absolute;
  top: 240px;
  height: 130px;
  opacity: 1;
  width: auto;
  -webkit-transition: all 30ms ease-in-out;
  transition: all 30ms ease-in-out;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.container .line {
  height: 10px;
  width: 80%;
  border-top: 5px solid #fff;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-style: dashed;
}

.container .section-three {
  height: 100vh;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.container .section-three h1 {
  font-family: "DotGothic16", sans-serif;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  position: relative;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  color: white;
}

.container .section-three p {
  font-family: Fira Code;
  letter-spacing: 2px;
  font-weight: lighter;
  font-size: 1.75rem;
  text-align: left;
  line-height: 1.5;
  width: 80%;
  color: white;
  position: relative;
  left: 100px;
}

.container .section-three p a {
  color: #f0f;
}

.container .section-three p span:nth-child(1) {
  color: #0f0f;
}

.container .section-three p span:nth-child(2) {
  color: #00b7ff;
}

.container .section-three p span:nth-child(3) {
  color: #d9ff00;
}

.container .section-three .cta-2 {
  z-index: 4;
  position: absolute;
  bottom: 200px;
}

.container .section-three .cta-2 .cta-homesection {
  height: 60px;
  min-width: 250px;
  -webkit-box-shadow: 0px 5px 0px #fff;
          box-shadow: 0px 5px 0px #fff;
  cursor: pointer;
  font-size: 1rem;
  font-family: Fira Code;
  font-weight: bold;
  border-radius: 13px;
}

.container .section-three .cta-2 .cta-homesection:active {
  -webkit-box-shadow: 5px 5px 0px #e604a2;
          box-shadow: 5px 5px 0px #e604a2;
}

.TeamContainer {
  height: auto;
  width: 100vw;
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  margin-top: 30px;
}

.TeamContainer h1,
.TeamContainer p {
  color: white;
}

.TeamContainer .member-container {
  min-height: 100vh;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.TeamContainer .member-container .member {
  min-height: 275px;
  max-height: 290px;
  width: 235px;
  margin: 20px;
  border-radius: 10px;
  background: #2b2b2b;
  padding: 20px;
}

.TeamContainer .member-container .member .member-photo-container {
  height: 150px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

.TeamContainer .member-container .member .member-photo-container img {
  width: 100%;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
}

.TeamContainer .member-container .member:hover {
  cursor: pointer;
}

.TeamContainer .member-container .member:hover .member-photo-container {
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-box-shadow: 0px 5px 0px #0c0c0c;
          box-shadow: 0px 5px 0px #0c0c0c;
}

.TeamContainer .member-container .member .name {
  font-family: "Space Mono", monospace;
  color: white;
  font-size: 1.25rem;
  line-height: 1;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.TeamContainer .member-container .member .desc {
  font-family: "Space Mono", monospace;
  color: white;
  font-size: 1rem;
  margin: auto;
  text-align: center;
  margin-bottom: 15px;
}

.TeamContainer .member-container .member .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fff;
  height: 40px;
  width: 80%;
  margin: auto;
  background: #ff00dd;
  -webkit-box-shadow: 5px 5px #fff;
          box-shadow: 5px 5px #fff;
  border-radius: 10px;
}

.TeamContainer .member-container .member .socials:hover {
  -webkit-box-shadow: 0px 0px #fff;
          box-shadow: 0px 0px #fff;
  background: #000;
}

.TeamContainer .member-container .member .socials a {
  margin: 10px;
}

.TeamContainer .member-container .member .socials a i {
  color: white;
  font-size: 1.5rem;
}

footer {
  height: auto;
  padding: 10px;
  color: white;
  font-family: "DotGothic16", sans-serif;
  font-size: 1.5rem;
}

footer p a {
  color: white;
  text-decoration: none;
}

footer p a:hover {
  text-decoration: underline;
  color: #0f0;
}
/*# sourceMappingURL=style.css.map */