/* css/style.css */

html {
  margin: 0;
  padding: 0;

  overflow-x: hidden;

  scroll-behavior: smooth;
}
body {
  height: auto;
  width: 100vw;

  box-sizing: border-box;
  background-color: #111111;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

$heading-font-1: "Geometri Outine", sans-serif;

$font-family-2: "Bungee Shade", cursive;
$font-family-3: "Flow Rounded", cursive;
$font-family-4: "Rampart One", cursive;
$font-family-5: "Space Mono", monospace;
$font-family-6: "VT323", monospace;
$font-family-7: "DotGothic16", sans-serif;
$nav-color: #272727;
.nav-center {
  height: 80px;
  min-width: 600px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $nav-color;
  padding: 5px;
  top: -10px;
  box-shadow: 0px 0px 20px #000;
  z-index: 99999;
  top: -10%;
  transition: 0.2s ease-in-out;
  transition-delay: 1s;
  &:hover {
    top: 0px;
    transition: 0.2s ease-in-out;
  }
  &:after {
    content: "👇🏻";
    text-align: center;
    position: absolute;
    padding-top: 10px;
    font-size: 20px;
    top: 100%;
    margin: auto;
    width: 100px;
    height: 40px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: $nav-color;
    box-shadow: 0px 20px 20px #000;
  }

  ul {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 5px;

    li {
      list-style: none;
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 40px;
      position: relative;
      .logo {
        height: 50px;
        width: auto;
      }
      .nav-snack {
        position: absolute;

        color: white;
        font-size: 1em;
        font-family: $font-family-7;

        padding: 2px 5px 2px 5px;
        text-align: center;
        border-radius: 2px;

        top: 0px;
        opacity: 0;
        transition: all 0.1s ease;
        z-index: 9999999999999;
      }

      &:hover {
        background: #414141;
        border-radius: 100px;
      }
      &:hover .nav-snack {
        top: 50px;
        opacity: 1;
        transition: all 0.1s ease;
      }
    }
  }
}
.container {
  min-height: 100vh;
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #111111;

  .logo {
    height: 70px;
    position: fixed;
    top: 40px;
    left: 40px;
  }

  .section-one {
    color: white;
    font-family: Hack;
    font-size: 1.5rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    .left {
      width: 50%;
      height: 100%;
      display: flex;
      top: -30px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 2;
      position: absolute;

      //   border: 1px solid #fff;
      h1 {
        font-family: $font-family-2;
        letter-spacing: 2px;
        font-weight: lighter;
        font-size: 2.5rem;
        text-align: center;
        line-height: 1.5;

        .title {
          font-size: 5rem;
          //   #devTitle {
          //     animation: devTitle 1s ease-in-out infinite;

          //   }
          #devTitle2 {
            animation: devTitle 1s ease-in-out infinite;
          }
          #devTitle3 {
            display: block;
          }
          #devTitle4 {
            font-size: 2rem;
            top: -40px;
            position: relative;
            font-family: $font-family-5;
          }
          @keyframes devTitle {
            0% {
              color: rgb(245, 142, 8);
            }
            50% {
              color: rgb(8, 138, 245);
            }
            100% {
              color: rgb(8, 245, 28);
            }
          }
        }
      }
    }

    p {
      width: 70%;
      font-size: 4rem;
      font-family: $font-family-3;
      position: relative;
      z-index: 1;
      opacity: 0.06;
      text-align: center;
      pointer-events: none;
      top: -40px;
    }

    a {
      z-index: 4;
      position: absolute;
      bottom: 240px;

      .cta-homesection {
        height: 60px;
        width: 250px;

        cursor: pointer;
        font-size: 1rem;
        font-family: Fira Code;
        font-weight: bold;
        border-radius: 13px;
        &:active {
          box-shadow: 5px 5px 0px rgb(230, 4, 162);
        }
      }
    }
  }
  .line {
    height: 10px;
    width: 80%;
    border-top: 5px solid #fff;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-style: dashed;
  }
  .section-two {
    color: white;

    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
    .cta-2 {
      z-index: 4;
      position: absolute;
      bottom: 200px;

      .cta-homesection {
        height: 60px;
        min-width: 250px;
        box-shadow: 0px 5px 0px #fff;
        cursor: pointer;
        font-size: 1rem;
        font-family: Fira Code;
        font-weight: bold;
        border-radius: 13px;
        &:active {
          box-shadow: 5px 5px 0px rgb(230, 4, 162);
        }
      }
    }
    h1 {
      font-family: $font-family-7;
      letter-spacing: 2px;
      font-weight: lighter;
      font-size: 2.5rem;
      text-align: center;
      line-height: 1.5;
      position: relative;
      border-bottom: 1px solid #fff;
      cursor: pointer;
      img {
        display: none;
        opacity: 0;
        transition: all 30ms ease-in-out;
      }
      &:hover {
        img {
          content: "";
          display: block;
          position: absolute;
          top: -240px;
          height: 230px;
          opacity: 1;
          width: auto;
          transition: all 30ms ease-in-out;
          transform: rotate(-10deg);
        }
      }
    }

    p {
      font-family: Fira Code;
      letter-spacing: 2px;
      font-weight: lighter;
      font-size: 1.75rem;
      text-align: justify;
      line-height: 1.5;
      width: 80%;
      a {
        color: #f0f;
      }

      span:nth-child(1) {
        color: #0f0f;
      }
      span:nth-child(2) {
        color: rgb(0, 183, 255);
      }
      span:nth-child(3) {
        color: rgb(217, 255, 0);
        img {
          display: none;
          opacity: 0;
          transition: all 30ms ease-in-out;
        }
        &:hover {
          color: rgb(0, 183, 255);
          cursor: pointer;
          img {
            display: block;
            position: absolute;
            top: 240px;
            height: 130px;
            opacity: 1;
            width: auto;
            transition: all 30ms ease-in-out;
            transform: rotate(-10deg);
          }
        }
      }
    }
  }
  .line {
    height: 10px;
    width: 80%;
    border-top: 5px solid #fff;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-style: dashed;
  }
  .section-three {
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
    h1 {
      font-family: $font-family-7;
      letter-spacing: 2px;
      font-weight: lighter;
      font-size: 2.5rem;
      text-align: center;
      line-height: 1.5;
      position: relative;
      border-bottom: 1px solid #fff;
      cursor: pointer;
      color: white;
    }

    p {
      font-family: Fira Code;
      letter-spacing: 2px;
      font-weight: lighter;
      font-size: 1.75rem;
      text-align: left;
      line-height: 1.5;
      width: 80%;
      color: white;
      position: relative;
      left: 100px;
      a {
        color: #f0f;
      }
      span:nth-child(1) {
        color: #0f0f;
      }
      span:nth-child(2) {
        color: rgb(0, 183, 255);
      }
      span:nth-child(3) {
        color: rgb(217, 255, 0);
      }
    }

    .cta-2 {
      z-index: 4;
      position: absolute;
      bottom: 200px;

      .cta-homesection {
        height: 60px;
        min-width: 250px;
        box-shadow: 0px 5px 0px #fff;
        cursor: pointer;
        font-size: 1rem;
        font-family: Fira Code;
        font-weight: bold;
        border-radius: 13px;
        &:active {
          box-shadow: 5px 5px 0px rgb(230, 4, 162);
        }
      }
    }
  }
}

.TeamContainer {
  height: auto;
  width: 100vw;
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  h1,
  p {
    color: white;
    font-family: $font-family-7;
  }
  .member-container {
    min-height: 100vh;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    border: 1px solid #fff;

    .member {
      min-height: 275px;
      max-height: 290px;
      width: 235px;
      margin: 20px;
      border-radius: 10px;
      background: #2b2b2b;
      padding: 20px;
      position: relative;

      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
      // display: flex;
      &::after {
        content: "";
        position: absolute;
        right: 0px;
        top: 0;
        border-radius: 5px;
        height: 30px;
        width: 30px;
        background-color: #111111;
      }

      .member-photo-container {
        height: 150px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all 100ms ease-in-out;
        text-align: center;
        margin: auto;

        border-radius: 10px;
        img {
          width: 100%;
          position: relative;
          object-fit: cover;
        }
      }
      &:hover {
        cursor: pointer;

        .member-photo-container {
          transition: all 100ms ease-in-out;
          transform: scale(1.1);
          transform: translateY(-30px);
          box-shadow: 0px 5px 0px rgb(12, 12, 12);
        }
      }
      .name {
        font-family: $font-family-5;
        color: white;
        font-size: 1.25rem;
        line-height: 1;
        margin: auto;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      .desc {
        font-family: $font-family-5;
        color: white;
        font-size: 1rem;
        margin: auto;
        text-align: center;
        margin-bottom: 15px;
      }

      .socials {
        display: flex;
        justify-content: center;
        align-items: center;

        border: 1px solid #fff;
        height: 40px;
        width: 80%;
        margin: auto;
        background: rgb(255, 0, 221);
        box-shadow: 5px 5px #fff;
        border-radius: 10px;

        &:nth-child(1) {
          background: rgb(0, 217, 255);
        }
        &:nth-child(2) {
          background: rgb(217, 255, 0);
        }

        &:hover {
          box-shadow: 0px 0px #fff;
          background: #000;
        }

        a {
          margin: 10px;
          i {
            color: white;
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}

footer {
  height: auto;
  padding: 10px;
  color: white;
  font-family: $font-family-7;
  font-size: 1.5rem;
  p {
    a {
      color: white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
        color: #0f0;
      }
    }
  }
}
